@import "tailwindcss";

html, body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom right, rgb(239 246 255), rgb(224 231 255));
}

@media (prefers-color-scheme: dark) {
  html, body {
    background: linear-gradient(to bottom right, rgb(17 24 39), rgb(31 41 55));
  }
}
